<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main-title">
      <h2>title</h2>
    </div>

    <div class="card">
      <button class="btn" (click)="add()">
        <span class="mdi mdi-plus-circle"></span>
        <span class="ml-1">add</span>
      </button>
    </div>

    <div class="col-12 card table">

      <div class="row search">
        <!-- Search -->
        <div class="col-3 d-inline-flex input">
          <input type="text" class="" placeholder="placeholder" [(ngModel)]="searchText" (ngModelChange)="onChange()">
          <i class="ri-search-line"></i>
        </div>
        <!-- End search -->

        <div class="col"></div>
      </div>

      <div class="header row border">
        <div class="col-3">
          name
        </div>
        <div class="col-2">
          phone
        </div>
        <div class="col-3">
          address
        </div>
        <div class="col-2">
          debt
        </div>
        <div class="col-2">
          actions
        </div>
      </div>

      <div *ngIf="tenants.length > 0; else emptyBlock" class="body">
        <div class="row" *ngFor="let tenant of rows | async">
          <div class="col-3">
            {{tenant.name}}
          </div>
          <div class="col-2">
            {{tenant.phone}}
          </div>
          <div class="col-3">
            {{tenant.address}}
          </div>
          <div class="col-2">
            {{tenant.debt}}
          </div>
          <div class="col-2" ngbDropdown placement="bottom-left">
            <button class="btn mdi mdi-pencil dropdown-toggle" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" (click)="edit(tenant)">
                <i class="ri-pencil-fill"></i>
                edit
              </a>
              <a class="dropdown-item delete" (click)="delete(tenant)">
                <i class="ri-delete-bin-fill"></i>
                delete
              </a>
            </div>
          </div>

        </div>
      </div>
      <ng-template #emptyBlock>
        <div class="empty">
          <div>empty</div>
          <div>block</div>
        </div>
      </ng-template>
    </div>

  </div>
</div>
