<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="loginForm" #ngForm="ngForm" (ngSubmit)="submit()">

      <div>
        <div>Username:</div>
        <input type="text" formControlName="username" />
        <div *ngIf="ngForm.submitted && loginForm.controls.username.errors" class="invalid">
          <div *ngIf="loginForm.controls.username.errors.required">username required</div>
        </div>
      </div>

      <div>
        <div>Password:</div>
        <input type="password" formControlName="password" />
        <div *ngIf="ngForm.submitted && loginForm.controls.password.errors" class="invalid">
          <div *ngIf="loginForm.controls.password.errors.required">password required</div>
        </div>

      </div>

      <div>
        <button mat-raised-button>Login</button>
      </div>

    </form>

  </mat-card-content>
</mat-card>
